Source: python-graphql-relay
Section: python
Priority: optional
Maintainer: Kali Developers <devel@kali.org>
Uploaders: Sophie Brun <sophie@offensive-security.com>,
Build-Depends: debhelper-compat (= 12),
               dh-python,
               python3-all,
               python3-setuptools,
               python3-six,
               python3-pytest,
               python3-graphql-core (>= 2.2),
               python3-promise
Standards-Version: 4.6.2
Homepage: https://github.com/graphql-python/graphql-relay-py
Vcs-Git: https://gitlab.com/kalilinux/packages/python-graphql-relay.git
Vcs-Browser: https://gitlab.com/kalilinux/packages/python-graphql-relay
Testsuite: autopkgtest-pkg-python

Package: python3-graphql-relay
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Relay Library for GraphQL Python 3
 This package contains a library to help construct a graphql-py server
 supporting react-relay.
 .
 This package installs the library for Python 3.
